@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');

/* Nav Bar */

#main nav {
    margin-top: -10px;
    background-color: #1E1E1E !important;
    height: 140px;
    width: 100vw;
    box-shadow: 0px 2px 5px #757575;
    display: flex;
    justify-content: space-evenly;
   
}

.sticky-top {
    position: fixed !important;
    top: 0;
    width: 100vw !important;
    z-index: 1000;
}

#main .nav-logo img {
    height: 220px;
    width: 270px;
    object-fit: cover;
    margin-top: -41px;
  }

  #main .nav-title {
    display: flex;
    justify-content: space-evenly;
    color: #fff !important;
    font-family: Poppins;
    font-size: 18px;
    padding-top: 60px;
    font-weight: 200;
    margin-right: 15px;
    text-decoration: none;
  } 

  #main .active {
        color: #616161 !important;
  }

  /* @media screen and (max-width: 425) {
    /* .offcanvas-header {
        display: grid;
        grid-template-columns: auto;
    }*/ 

  /* Footer */

  .footer {
    padding-top: 30px;
    margin-top: 50px;
    height: 80px;
    background-color: #1E1E1E;
    box-shadow: 0px -2px 5px #757575;
    text-align: center;
    font-size: 10px;
    color: white;
}

/*  */
/*============================================================= Home ========================================================================*/
/*  */

/* 
.home-body body {
    margin: 0;
    padding: 0;
    width: 90vw;
}

.home-main main{
    width: 100vw;
}  */

.home-slider{
    margin-top: 138px;
    width: 100vw;
    height: 570px;
    overflow-x: hidden;
    overflow-x: hidden;
}

.home-slides{
    width: 500%;
    height: 570px;
    display: flex;
    overflow: hidden;
}

.home-slides input{
    display: none;
}

.home-slide{
    width: 20%;
    height: 600px;
    transition: 2s;
}

.home-slide img {
    margin-left: 0px; 
    margin-top: -70px;
    width: 100%; 
    height: 700px;
    object-fit: cover; 
    
}
/* Manual slide */

.home-nav-manual{
    position: absolute;
    width: 100%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.home-manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.home-manual-btn:not(:last-child){
    margin-right: 40px;
}

.home-manual-btn:hover{
    background: red;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* automatic slide */

.home-nav-auto{
    position: absolute;
    display: flex;
    width: 880px;
    justify-content: center;
    margin-top: 460px;

}

.home-nav-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.home-nav-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .home-nav-auto .home-auto-btn1{
    background: white;
}

#radio2:checked ~ .home-nav-auto .home-auto-btn2{
    background: white;
}

#radio3:checked ~ .home-nav-auto .home-auto-btn3{
    background: white;
}

#radio4:checked ~ .home-nav-auto .home-auto-btn4{
    background: white;
}

.home-slide1-text{
    margin-top: -500px;
    margin-left: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
}

.home-slide1-text h4{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
}

.home-slide1-text h3{
    font-family: Russo One;
    font-size: 40px;
    font-weight: 300;
}

.home-sn-btn {
    height: 40px;
    width: 160px;
    border: 2px solid white;
    background-color: #ffffff00;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
}

.home-sn-btn:hover {
    height: 40px;
    width: 160px;
    border: 2px solid white;
    background-color: #ffffff9a;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
}

.home-slide2-text{
    margin-top: -500px;
    margin-left: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
}

.home-slide2-text h3{
    font-family: Russo One;
    font-size: 35px;
    font-weight: 300;
}

.home-slide3-text{
    margin-top: -500px;
    margin-left: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
}

.home-slide3-text h3{
    font-family: Russo One;
    font-size: 35px;
    font-weight: 300;
}

.home-slide4-text{
    margin-top: -500px;
    margin-left: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
}

.home-slide4-text h3{
    font-family: Russo One;
    font-size: 35px;
    font-weight: 300;
}

.home-products-container{
    height: 120vh;
    width: 100vw;
}

.home-products-container h2{
    text-align: center;
    font-family: Montserrat;
    margin-top: 100px;
    font-size: 80px;
    color: #000;
    font-weight: 400;
}

.home-products-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
}

.card{
    /* border: none !important; */
}

#sale-border{
    height: 30px;
    width: 100px;
    border: 2px solid #397D3C;
    background-color: #397d3c66;
    color: white;
    font-family: Roboto;
    
}

#sale-border h6{
    font-size: 12px;
    text-align: center;
    padding-top: 7px;
}

.home-products-cards .card{
    margin-left: 97px;
    margin-top: 110px;
}

.home-products-cards h5 {
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
 }

 .card-text{
    margin-top: 15px;
    text-align: center;
    font-family: Poppins;
 }

.home-products-cards h3 {
    margin-top: 10px;
    text-align: center;
    color: #000;
    font-family: Roboto;
 }
 
 .home-products-cards .now {
    margin-top: 10px;
    text-align: center;
    color: #397D3C;
 }

.home-products-cards .sale-btn {
   color: #397D3C;
   border-color: #397D3C;
   background-color: #fff;
   margin-top: 15px;
   display: flex;
   justify-content: center;
}

.home-products-cards .sale-btn:hover {
    color: #fff;
    border-color: #397D3C;
    background-color: #397D3C;
    margin-top: 15px;
    display: flex;
    justify-content: center;
 }

 @media screen and (max-width: 300px) {
    #main-nav {
        height: auto; 
        width: 100vw;
    }

    #main .nav-logo img {
        height: 150px; 
        width: 100vw;
        margin-top: 10px; 
    }

    #main .nav-title {
        padding-top: 10px; 
        font-size: 14px;
    }

    
    .home-slider {
        margin-top: 100px; 
    }

    .home-slide img {
        margin-top: -50px; 
        height: 500px; 
    }

    .home-products-cards .card{
        margin-left: 0px;
        margin-top: 110px;
    }
    

    
}

/*  */
/* ======================================== Products =============================================== */
/*  */

.p-main{
    height: auto;
}


.product-body{
    overflow-x: hidden !important;
}


.image-container-products{
    top: 0;
    height: 120vh;
    width: 98.92vw;
    overflow-x: hidden !important;
}

.image-container-products img{
    margin-top: -80px;
    height: 103vh;
    width: 98.92vw;
    object-fit: cover;
    margin-left: 0px;
    overflow-x: hidden !important;
}

.image-container-products h1{
    margin-top: -430px;
    margin-left: 400px;
    font-family: Montserrat;
    font-size: 150px;
    color: #fff;
    font-weight: 600;
}

.p-products-container{
    height: auto;
    width: 100vw;
}

.p-products-container h2{
    text-align: center;
    font-family: Montserrat;
    margin-top: -90px;
    font-size: 80px;
    color: #000;
    font-weight: 400;
}

.product-search-filter-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}

.search-bar{
    width: 750px;
    height: 50px;
    margin-left: 340px;
    border: 2px solid black;
    border-radius: 10px;
}

#filter-id{
    background-color: #000;
    width: 100px;
    height: 50px;
    margin-left: 10px;
}

.image-container-p-colnago{
   margin-top: 70px;
   height: 550px;
   width: 98.92vw;
}

.image-container-p-colnago img{
    width: 98.92vw;
    height: 550px;
 }

.p-slide1-text{
    margin-top: -500px;
    margin-left: 1090px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #000;
}

.p-slide1-text h4{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
}

.p-slide1-text h3{
    font-family: Russo One;
    font-size: 40px;
    font-weight: 300;
    text-shadow: 2px 2px #000fff;
}

.p-sn-btn {
    height: 40px;
    width: 160px;
    border: 2px solid black;
    background-color: #ffffff00;
    color: black;
    font-family: Poppins;
    font-size: 20px;
}

.p-sn-btn:hover {
    height: 40px;
    width: 160px;
    border: 2px solid #000fff;
    background-color: #000;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
}

.products-card-container{
    width: 100vw;
    overflow-x: hidden;
}

/* Loader */

/* .load{
    display: flex;
    justify-content: center;
}

.load img{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
}

[data-text]{
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes beat {
    10%{
        transition: all 2s;
        color: black;
    }
    100%{
        transition: all 2s;
        color: grey;
    }
}

#imgLoad{
    border-radius: 60px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    /* Animation */
    /* animation: Spin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
} */

/* Road Bikes */

.RB-title h3{
    font-family: Montserrat !important;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
}

.p-products-cardsRB{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    height: auto;
    width: 100vw;
}

.p-products-cardsRB .card{
    margin-left: 160px;
    margin-top: 110px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.p-products-cardsRB .card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.p-products-cardsRB h5 {
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
 }

 .card-text{
    margin-top: 15px;
    text-align: center;
    font-family: Poppins;
 }

.p-products-cardsRB h3 {
    margin-top: 10px;
    text-align: center;
    color: #000;
    font-family: Roboto;
 }
 
 .p-products-cardsRB .now {
    margin-top: 10px;
    text-align: center;
    color: #397D3C;
 }

.p-products-cardsRB .sale-btn {
   color: #397D3C;
   border-color: #397D3C;
   background-color: #fff;
   margin-top: 15px;
   display: flex;
   justify-content: center;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.p-products-cardsRB .sale-btn:hover {
    color: #fff;
    border-color: #397D3C;
    background-color: #397D3C;
    margin-top: 15px;
    display: flex;
    justify-content: center;
 }

/* Trail Bicycles */

.TB-title h3{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 150px;
}

#SBP{
    width: 150px;
    color: white;
    background-color: #000;
}

img[spinner]{
    margin-left: 680px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.p-products-cardsTB{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    height: auto;
    width: 100vw;
}

.p-products-cardsTB .card{
    margin-left: 160px;
    margin-top: 110px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.p-products-cardsTB .card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.p-products-cardsTB h5 {
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
 }

 .card-text{
    margin-top: 15px;
    text-align: center;
    font-family: Poppins;
 }

.p-products-cardsTB h3 {
    margin-top: 10px;
    text-align: center;
    color: #000;
    font-family: Roboto;
 }
 
 .p-products-cardsTB .now {
    margin-top: 10px;
    text-align: center;
    color: #397D3C;
 }

.p-products-cardsTB .sale-btn {
   color: #397D3C;
   border-color: #397D3C;
   background-color: #fff;
   margin-top: 15px;
   display: flex;
   justify-content: center;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.p-products-cardsTB .sale-btn:hover {
    color: #fff;
    border-color: #397D3C;
    background-color: #397D3C;
    margin-top: 15px;
    display: flex;
    justify-content: center;
 }

 /* Equipment */

 .Eq-title h3{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 150px;
}

.p-products-cardsEQ{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    height: auto;
    width: 100vw;
}

.p-products-cardsEQ .card{
    margin-left: 160px;
    margin-top: 110px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.p-products-cardsEQ .card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.p-products-cardsEQ h5 {
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
 }

 .card-text{
    margin-top: 15px;
    text-align: center;
    font-family: Poppins;
 }

.p-products-cardsEQ h3 {
    margin-top: 10px;
    text-align: center;
    color: #000;
    font-family: Roboto;
 }
 
 .p-products-cardsEQ .now {
    margin-top: 10px;
    text-align: center;
    color: #397D3C;
 }

.p-products-cardsEQ .sale-btn {
   color: #397D3C;
   border-color: #397D3C;
   background-color: #fff;
   margin-top: 15px;
   display: flex;
   justify-content: center;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.p-products-cardsEQ .sale-btn:hover {
    color: #fff;
    border-color: #397D3C;
    background-color: #397D3C;
    margin-top: 15px;
    display: flex;
    justify-content: center;
 }


/*  */
/* ======================================================================== Checkout =============================================== */

.c-products-container{
    height: 800vh;
    width: 100vw;
}

.c-products-container h2{
    text-align: center;
    font-family: Montserrat;
    margin-top: -90px;
    font-size: 80px;
    color: #000;
    font-weight: 400;
}

.cart-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    height: 100vh;
    width: 100vw;
    margin-top: 90px;
}

.selected-items-display{
    border: 1px solid black;
   
    border-radius: 20px;
    margin-left: 10px;
}

#cart-item-img{
    height: 200px;
    width: 300px;
    object-fit: cover;
    margin-left: 40px;
    border: 1px solid black;
    margin-top: 40px;
    border-radius: 20px;
}

.cart-item-info{
    margin-top: -200px;
}

.cart-item-name{
    margin-left: 400px;
    font-family: Montserrat;
}

.cart-item-quantity{
    margin-top: 20px;
    margin-left: 400px;
    font-family: Montserrat;
}

.cart-item-price{
    margin-top: 200px;
    margin-left: 650px;
    font-family: Roboto;
}

.selected-items-price-calc{
    border: 1px solid black;
    height: 400px;
    width: 460px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #000;
    color: white;
}

.selected-items-price-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub-total{
    font-family: Montserrat;
    margin-top: 40px;
    margin-left: 20px;
}

.sub-total-price{
    font-family: Montserrat;
    margin-top: 40px;
    margin-left: 60px;
}

.total{
    font-family: Montserrat;
    margin-top: 100px;
    margin-left: 20px;
}

.total-price{
    font-family: Montserrat;
    margin-top: 100px;
    margin-left: 60px;
}

.selected-items-btn{
    display: grid;
    grid-template-columns: 1fr;
}

.checkout-btn{
    width: 300px;
    height: 50px;
    margin-top: 30px;
    border-radius: 20px;
    color: #fff;
    font-family: Montserrat;
    font-size: 25px;
    border: 2px solid #397D3C;
    background-color: #397d3c5f;
    margin-left: 80px;
}

.checkout-btn:hover{
    width: 300px;
    height: 50px;
    margin-top: 30px;
    border-radius: 20px;
    color: #fff;
    font-family: Montserrat;
    font-size: 25px;
    border: 2px solid #397D3C;
    background-color: #397d3C;
    margin-left: 80px;
}

.clear-cart-btn{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
    font-family: Montserrat;
    font-size: 25px;
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.248);
    margin-left: 80px;
}

.clear-cart-btn:hover{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
    font-family: Montserrat;
    font-size: 25px;
    border: 2px solid red;
    background-color: red;
    margin-left: 80px;
}

/*  */
/*================================================== About ====================================================== */
/*  */

.about-body {
    /* overflow: hidden; */
    max-height: 100vh;
    max-width: 145.4vw;
    font-family: Bitter;
    overflow-x: hidden;
}

.about-main {
    height: 50px;
    width: 100vw;
}

.image-container-about{
    top: 0;
    height: 120vh;
    width: 145.4vw;
    
}
.image-container-about img{
    margin-top: -110px;
    height: 110vh;
    width: 145.4vw;
    object-fit: cover;
    margin-left: -380px;
}

.image-container-about h1{
    margin-top: -430px;
    margin-left: 400px;
    font-family: Montserrat;
    font-size: 150px;
    color: #000;
    font-weight: 600;
}

.about-us-info-container h2{
    font-family: Montserrat;
    font-size: 80px;
    color: #000;
    text-align: center;
    margin-top: -130px;
    font-weight: 400;
}

.about-us-info-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.about-us-info-text .about-p1 {
    text-wrap: wrap;
    font-family: Poppins;
    color: #000;
    text-align: center;
    margin-top: 150px;
    margin-left: 80px;
}

.about-us-info-text .about-p2 {
    text-wrap: wrap;
    font-family: Poppins;
    color: #000;
    text-align: center;
    margin-top: 150px;
    margin-right: 80px;
}

.about-us-info-text img {
    height: 60vh;
    width: 40vw;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 100px;
}

.about-us-info-text .about-p3 {
    text-wrap: wrap;
    font-family: Poppins;
    color: #000;
    text-align: center;
    margin-top: 110px;
    margin-left: 80px;
}


/*  */
/* ================================================= Contact ===================================================================== */
/*  */


.text-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-me {
    margin-top: 100px;
    margin-left: 200px;
    font-family: Montserrat;
}

.contact-me h2{
    font-size: 60px;
}

.la-instagram{
    font-size: 150px;
}

.la-instagram:hover{
    font-size: 150px;
    color: #397D3C;
}

.la-facebook{
    font-size: 150px;
}

.la-facebook:hover{
    font-size: 150px;
    color: #397D3C;
}

.lets-git h2{
    text-align: center;
    font-size: 90px;
    color: #000;
    font-family: Montserrat;
    margin-top: -150px;
    font-weight: 400;
}

.contact-form-box {
    height: 480px;
    width: 600px;
    background-color: #1E1E1E;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: #397D3C solid 2px;
    margin-top: 70px;
}

.form {
    margin-left: 49px;
    margin-top: 90px;
}

.form input {
    width: 500px;
    background-color: #397D3C;
    color: white !important;
    font-family: Montserrat;
    border: none;
    border-bottom: black 2px solid !important;
    border-radius: 0px;
    text-align: center;
    margin-top: 20px;
}

.form-floating textarea {
    width: 500px;
    background-color: #397D3C;
    color: white !important;
    border: none;
    font-family: Montserrat;
    border-bottom: black 2px solid !important;
    border-radius: 0px;
    text-align: center;
    margin-top: 20px;
}

label {
    font-family: Montserrat;
    margin-left: 200px;
    font-size: 18px;
}

.my-details {
    display: flex;
}

.btn-contact {
    background-color: rgba(255, 255, 255, 0.512);
    font-family: mansalva;
    font-size: 25px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 180px;
}

.bi-telephone {
    height: 80px;
    width: 80px;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
}

.listed-details h3 {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 115px;
    font-weight: 600;
}



@media only screen and (max-width:720px ) {
    .h3-contact {
        font-size: 30px;
        font-family: Libre Franklin;
        font-weight: 700;
        margin-left: 150px;
        margin-top: 20px;
    }


    .contact-me {
        margin-top: 300px;
        margin-left: 50px;
        font-family: bitter;
    }
    
    .contact-me h2{
        font-size: 30px;
    }

    .contact-form-box {
        height: 150px;
        width: 300px;
        background-color: #FCC5D3;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        border: #B38ECC solid 2px;
        margin-top: 100px;
    }
    
    .form {
        margin-left: 49px;
        margin-top: 30px;
    }
    
    
}



/*  */
/*===================================== Admin ============================================================== */
/*  */

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.admin-main {
    height: 380vh;
    width: 100vw;
    margin-top: 150px;
}

/* Modal styles */
#editModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8) !important; /* Change the opacity to 0.8 for a darker black */
    padding-top: 60px;
}

.modal-content {
    background-color: #000 !important;
    color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #397D3C;
    width: 80%;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fffeff; /* White text on hover/focus */
    text-decoration: none;
    cursor: pointer;
}

/* Other element styles */
#h {
    color: #fff; /* White heading text */
}

.label {
    color: #fff; /* White label text */
}

.f {
    background-color: #fff; /* White input background */
    color: #000; /* Black input text */
}

#savebtn {
    background-color: red;
    color: #fff; /* White button text */
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
}

#savebtn:hover {
    background-color: black; /* Black button background on hover */
}

.adding {
    color: black;
    background-color: white;
    border: 2px solid red;
}

#add {
    background-image: linear-gradient(to right, #397D3C, black);
    border: 2px solid white;
    color: #fffeff; /* White button text */
}

#addmodal {
    background-image: linear-gradient(to right, #397D3C, black);
    border: 2px solid white;
    color: #fffeff; /* White button text */
    margin-left: 20px;
}

#close {
    background-image: linear-gradient(to left, #397D3C, black);
    border: 2px solid white;
    color: #fffeff; /* White button text */
}

#sorting {
    margin-left: 20px;
    background-image: linear-gradient(to left, #397D3C, black);
    border: 2px solid white;
    color: #fffeff; /* White button text */
}

#addbtn{
    background-color: red;
    color: #fff; /* White button text */
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
} 
